<div class="page-jumbotron">
  <div class="row">
    <% unless @doer.omniauth? %>
      <div class="col-xs-6 center-block">
        <%= image_tag('octocat.png', class: 'img-responsive') %>
        <%= link_to button_tag("Sign up via Github", class: 'btn-auth btn-github'), '/auth/github' %>
      </div>
      <div class="col-xs-4 col-xs-offset-2">
      <h1>Signup</h1>
    <% else %>
      <div class="col-xs-10 col-xs-offset-2 center-block">
      <h1>Verify Details</h1>
    <% end %>

      <%= render 'form' %>

      <%= link_to doers_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
    </div>
  </div>
  </div>
</div>
